*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amiri', sans-serif;

}
body {
  min-height: 100vh;
    margin: auto;
    font-family: 'Amiri', sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(57, 54, 57) 3%, rgb(106, 117, 128) 38%, rgb(93, 89, 89) 68%, rgb(101, 100, 110) 98%);
    animation: gradient 15s ease infinite;
    background-size: 300% 300%;
    background-attachment: fixed;
    height: 110vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
canvas {
    position: absolute;
    bottom: 120px;
    border-radius: 10px;
	border: 10px solid #000000;
  }
  
  .ctn {
    position: relative;
    width: 360px;
    height: 640px;
    left:800px;
    top: 190px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
  }
  
  #scoreboard {
    position: absolute;
    bottom: 350px;
    right: 400px;
    width: 360px;
    text-align: center;
    font-size: 50px;
    color: #333333;
  }
  
  #start-screen {
    position: absolute;
    top: 20px;
  }
  
  #gameover-screen {
    visibility: hidden;
    position: absolute;
    width: 360px;
    height: 640px;
    opacity: 0;
    transition: opacity 1s;
    text-align: center;
  }
  
  #gameover {
    width: 280px;
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 40px;
    letter-spacing: 4px;
    margin: auto;
    margin-top: 200px;
  }
  
  #replay {
    width: 100px;
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 4px;
    transition: background-color 1s;
    margin: 100px auto;
  }
  
  #replay:hover {
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
  }
  
  #ctrl-ctn {
    position: absolute;
    top: 300px;
    left: 80px;
    opacity: 1;
    transition: opacity 1s;
  }
  
  .ctrl-btn {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 8px 16px;
    margin: 10px;
  }
  .container{
	position: relative;
  text-align: center;
	width: 500px;
	
	font-family: 'Amiri', sans-serif;
}
#btn2
{
	margin: 20px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: rgb(255, 255, 255);
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: black;
	border: 1px solid #000000;
	transition: .5s;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	position: relative;
	top: 500px;
  left: 80px;
	font-family: 'Amiri', sans-serif;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	
}
#btn2:hover{
	background: #414143;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}
header.sticky
{
    padding: 5px 100px;
    background: #fff;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    left: 170px;
    right: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li 
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(merc.jpg);
    background-size: cover;
}
header.sticky .logo,
header.sticky ul li a 
{
    color: #000;
}
footer{
  position: absolute;
  top: 110vh;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn20 {
  background-image: linear-gradient(
    to right,
    #000000,
    #1d1d1d,
    #565656,
    #ffffff
  );
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
}
#p1
{
  position: relative;
  left: 130px;
}

.paper {
  position: absolute;
  height: 550px;
  width: 450px;
  background: rgba(255,255,255,0.9);
  margin: -275px -225px;
  left: 300px;
  top: 60%;
  box-shadow: 0px 0px 5px 0px #888;
  
}
.paper::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.text {
  position: absolute;
  top: 65px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower';
  overflow: hidden;
  outline: none;
}
.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: lightgoldenrodyellow;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}

  