*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amiri', sans-serif;

}
body
{
    min-height: 350vh;  
    background: #000; 
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
}
header.sticky
{
    padding: 5px 100px;
    background: #fff;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul
{
    position: relative;
    left: 170px;
    right: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li 
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
header.sticky .logo,
header.sticky ul li a 
{
    color: #000;
}
footer{
    position: absolute;
    top: 350vh;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn20 {
    background-image: linear-gradient(
      to right,
      #000000,
      #1d1d1d,
      #565656,
      #ffffff
    );
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
  }
#p1
{
    position: relative;
    left: 130px;
}
.wstaws p
{
    height: 200px;
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
    bottom: 450px;
    font-size: 50px;
    text-transform: uppercase;   
}
.zt p
{
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 800px;
    height: 45px;
    width: 100%;
    text-align: center;
}
.bcontainer
{
    height: 200px;
    width: 100%;
    position: relative;
    
    bottom: 720px;
}
.boks
{
    background: rgb(17, 17, 17);
    height: 200px;
    width: 220px;
    text-align: center;
    float: left;
    margin: 20px;
    text-transform: uppercase;
    border-radius: 20px;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    position: relative;
    left: 100px;
    
    
}
.ymg
{
    height: 30px;
    width: 30px;
    position: relative;
    top: 8px;
    
}
.cozapewniamy
{
    color: white;
    position: relative;
    left: 850px;
    bottom: 400px;
    font-size: 25px;
    width: 450px;
}
.czpkont img
{
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    position: relative;
    top: 20px;
    left: 100px;
}
#czp1
{
    position: relative;
    left: 800px;
    top: 100px;
}
.nwsp
{
    position: relative;
    bottom: 350px;
}
.nwps1
{
    color: white;
    position: absolute;
    bottom: 650px;
    left: 50px;
    font-size: 25px;
}
#traktjpg
{
    position: relative;
    top: 170px;
}
.trakt1
{
    color: white;
    font-size: 25px;
    position: relative;
    left: 870px;
    bottom: 200px;
    width: 620px;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
    bottom: 350px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(41, 40, 40);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    color: white;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #ffffff;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #232323;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #000000;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
#lg
{
    position: relative;
    color: white;
    font-size: 30px;
}